<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Fact'Autos 69{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
        <!-- jQuery -->
        <link href="{{ asset('css/cupertino/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet" media="screen">
        <!-- Styles -->
        <link href="{{ asset('css/custom-styles.css') }}" rel="stylesheet" media="screen">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('homepage') }}" name="top">Centre Autos 69</a>
                    <div class="nav-collapse collapse">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul class="nav">
                                <li><a href="{{ path('homepage') }}"><i class="icon-home icon"></i> Accueil</a></li>
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('bill_create') }}"><i class="icon-file icon"></i> Nouvelle facture</a></li>
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('bill_search') }}"><i class="icon-folder-open icon"></i> Ouvrir une facture</a></li>
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('cust_search') }}"><i class="icon-user icon"></i> Ouvrir une fiche client</a></li>
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('stats') }}"><i class="icon-signal icon"></i> Rapport d'activité</a></li>
                                <li class="divider-vertical"></li>
                            </ul>

                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-cog"></i> {{ app.user.username|title }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-user"></i> Profil</a></li>
                                    <li class="divider"></li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="{{ path('admin_vat') }}"><i class="icon-briefcase"></i> Paramètres</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-wrench"></i> Accès Base de données</a></li>
                                    <li class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-share"></i> Déconnexion</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <ul class="nav">
                                <li><a href="{{ path('fos_user_security_login') }}"><i class="icon-lock icon"></i> Login</a></li>
                                <li class="divider-vertical"></li>
                            </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container -->
            </div><!--/.navbar-inner -->
        </div><!--/.navbar -->

        {% block body %}{% endblock %}

        <!-- JS library -->
        <script src="{{ asset('js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/jquery.ui.datepicker-fr.js') }}"></script>
        <script src="{{ asset('js/jquery.numeric.js') }}"></script>
        <script src="{{ asset('js/custom-scripts.js') }}"></script>
        <!-- Scripts -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
